# The interface on the router that has the public IP address, e.g. 'pppoe0'.
iface={{ iface }}

# The dynamic DNS hostname that will be updated.
hostname={{ hostname }}

# The URL of the dynamic DNS service.
url={{ url }}

# The username to use to authenticate with the dynamic DNS service.
username={{ username }}

# The password to use to authenticate with the dynamic DNS service.
password={{ password }}
