[Unit]
Description={{ ctr.name }} Container
{% if ctr.restart != "no" -%}
StartLimitIntervalSec={{ (ctr.max_restarts * ctr.restart_sec) + 1 }}
StartLimitBurst={{ ctr.max_restarts }}
{%- endif %}
Requires=docker.service {{ ctr.networks | map(attribute='systemd_service_name') | join(' ') }}
Wants=network-online.target
After=docker.service network-online.target {{ ctr.networks | map(attribute='systemd_service_name') | join(' ') }}

[Service]
Type=simple
ExecStart=docker run \
    --rm \
    --restart=no \
    --env-file {{ ctr_env_file }} \
    --network {{ ctr.networks | map(attribute='name') | join(',') }} \
    --network-alias {{ ctr.name }} \
    {% for v in ctr.volumes -%}
    --volume {{ v.src }}:{{ v.dest }}:{{ v.mode }} \
    {% endfor -%}
    {% for p in ctr.ports -%}
    --publish {{ p }} \
    {% endfor -%}
    --name {{ ctr.name }} \
    {{ ctr.image }}
Restart={{ ctr.restart }}
{% if ctr.restart != "no" -%}
RestartSec={{ ctr.restart_sec }}
{%- endif %}

[Install]
WantedBy=multi-user.target
