[Unit]
Description={{ network.name }} Docker Network
Requires=docker.service
Wants=network-online.target
After=docker.service network-online.target

[Service]
Type=oneshot
ExecStart=docker network create {{ network.name }} \
    --driver=bridge \
    --subnet={{ str(network.network) }} \
    --gateway={{ str(network.gateway_address) }}
ExecStop=docker network rm {{ network.name }}
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

