firewall {
    all-ping enable
    broadcast-ping disable
    ipv6-receive-redirects disable
    ipv6-src-route disable
    ip-src-route disable
    log-martians enable
    options {
        mss-clamp {
            interface-type all
            mss 1452
        }
    }
    receive-redirects disable
    send-redirects enable
    source-validation disable
    syn-cookies enable

    group {
        network-group usa-ipv4 {
        }
    }

    name WAN_INBOUND {
        default-action drop
        rule 500 {
            action accept
            description "Allow responses to internally-initiated traffic"
            log disable
            state {
                established enable
                related enable
            }
        }
        rule 600 {
            action accept
            description "Allow inbound connections from US traffic"
            log disable
            source {
                group {
                    network-group usa-ipv4
                }
            }
        }
    }
}
interfaces {
    ethernet eth0 {
        duplex auto
        poe {
            output off
        }
        speed auto
    }
    ethernet eth1 {
        duplex auto
        poe {
            output off
        }
        speed auto
    }
    ethernet eth2 {
        duplex auto
        speed auto
    }
    ethernet eth3 {
        duplex auto
        poe {
            output off
        }
        speed auto
    }
    ethernet eth4 {
        address 172.17.17.1/24
        description "CenturyLink Modem @ 172.17.17.17"
        duplex auto
        poe {
            output off
        }
        pppoe 0 {
            default-route auto
            description "CenturyLink Internet"
            mtu 1492
            name-server auto
            password {{ centurylink_pppoe_password }}
            user-id {{ centurylink_pppoe_username }}

            firewall {
                in {
                    name WAN_INBOUND
                }
            }
        }
        speed auto
    }
    ethernet eth5 {
        address {{ router_ip }}/16
        description "EdgeSwitch 24"
        duplex auto
        speed auto
    }
    loopback lo {
    }
    wireguard wg0 {
        address {{ wireguard_server_ip }}
        listen-port {{ wireguard_listen_port }}
        route-allowed-ips true
        private-key /config/wireguard/wg.key

        {% for p in wireguard_peers %}
        peer {{ p.public_key }} {
            allowed-ips {{ p.ip_address }}/32
        }
        {% endfor -%}
    }
}
port-forward {
    auto-firewall disable
    hairpin-nat enable
    lan-interface eth5
    {% for i in port_forwards -%}
    rule {{ loop.index }} {
        description "{{ i.description }}"
        forward-to {
            address {{ i.destination.ip }}
            port {{ i.destination.port }}
        }
        original-port {{ i.source_port }}
        protocol {{ i.protocol }}
    }
    {% endfor -%}
    wan-interface pppoe0
}
protocols {
    static {
    }
}
service {
    dhcp-server {
        disabled false
        hostfile-update disable
        shared-network-name lan {
            authoritative enable
            subnet {{ network_subnet }} {
                default-router {{ router_ip }}
                dns-server {{ pihole_ip }}
                lease 86400
                start 192.168.194.10 {
                    stop 192.168.194.250
                }
                {% for i in static_dhcp -%}
                static-mapping {{ i.name }} {
                    ip-address   {{ i.ip }}
                    mac-address  {{ i.mac }}
                }
                {% endfor -%}
            }
        }
        static-arp disable
        use-dnsmasq disable
    }
    dns {
        forwarding {
            cache-size 10000
            listen-on vtun0
            listen-on eth5
            {% for i in upstream_dns -%}
            name-server {{ i }}
            {% endfor -%}
            {% for i in static_dns -%}
            {% for d in i.dns -%}
            options address=/{{ d }}/{{ i.ip }}
            {% endfor -%}
            {% endfor -%}

            {% for i in static_dhcp -%}
            {% for d in i.get("dns", []) -%}
            options address=/{{ d }}/{{ i.ip }}
            {% endfor -%}
            {% endfor -%}
        }
    }
    nat {
        rule 1300 {
            description "Redirect outbound DNS to internal DNS server"
            inbound-interface eth5
            protocol tcp_udp
            source {
                address 192.168.201.0/24
            }
            inside-address {
                address {{ pihole_ip }}
                port    53
            }
            destination {
                address !{{ pihole_ip }}
                port    53
            }
            type destination
        }
        rule 7000 {
            description "NAT: LAN <-> Internet"
            outbound-interface pppoe0
            protocol all
            source {
                address {{ network_subnet }}
            }
            type masquerade
        }
    }
    ssh {
        disable-password-authentication
        listen-address 192.168.192.1
        port 22
        protocol-version v2
    }
}
system {
    host-name router0
    login {
        user {{ server_admin_username }} {
            authentication {
                encrypted-password {{ server_admin_password | password_hash('sha256', (65534 | random(seed=inventory_hostname) | string)) }}
                plaintext-password ""
                public-keys {{ server_admin_username }}@main {
                    {% set type, key = server_admin_ssh_pubkey.split(' ') -%}
                    type {{ type }}
                    key {{ key }}
                }
            }
            full-name "{{ server_admin_comment }}"
            level admin
        }
    }
    name-server {{ upstream_dns[0] }}
    ntp {
        server 0.ubnt.pool.ntp.org {
        }
        server 1.ubnt.pool.ntp.org {
        }
        server 2.ubnt.pool.ntp.org {
        }
        server 3.ubnt.pool.ntp.org {
        }
    }
    package {
        repository stretch {
            components "main contrib non-free"
            distribution stretch
            password ""
            url http://http.us.debian.org/debian
            username ""
        }
    }
    syslog {
        global {
            facility all {
                level notice
            }
            facility protocols {
                level debug
            }
        }
    }
    task-scheduler {
        task dyndns {
            executable {
                path /config/user-data/dyndns/dyndns.sh
            }
            interval 1m
        }
    }
    time-zone UTC
}


/* Warning: Do not remove the following line. */
/* === vyatta-config-version: "config-management@1:conntrack@1:cron@1:dhcp-relay@1:dhcp-server@4:firewall@5:ipsec@5:nat@3:qos@1:quagga@2:suspend@1:system@4:ubnt-pptp@1:ubnt-udapi-server@1:ubnt-unms@1:ubnt-util@1:vrrp@1:vyatta-netflow@1:webgui@1:webproxy@1:zone-policy@1" === */
/* Release version: v2.0.8.5247496.191120.1124 */
