firewall {
    all-ping enable
    broadcast-ping disable
    ipv6-receive-redirects disable
    ipv6-src-route disable
    ip-src-route disable
    log-martians enable
    options {
        mss-clamp {
            interface-type all
            mss 1400
        }
    }
    receive-redirects disable
    send-redirects enable
    source-validation disable
    syn-cookies enable

    group {
    {% for i in ipsets %}
        network-group {{ i }} {
            /* The content of this group is managed by ipset directly. */
        }
    {% endfor %}
    }

    name WAN_INBOUND {
        default-action drop
        rule 500 {
            action accept
            description "Allow responses to internally-initiated traffic"
            log disable
            state {
                established enable
                related enable
            }
        }
        rule 600 {
            action accept
            description "Allow inbound connections from US traffic"
            log disable
            source {
                group {
                    network-group usa-ipv4
                }
            }
        }
    }

    name WIREGUARD_INBOUND {
        default-action reject
        rule 500 {
            action accept
            description "Allow responses to internally-initiated traffic"
            log disable
            state {
                established enable
                related enable
            }
        }
        rule 510 {
            action accept
            description "Allow access to the Wireguard gateway"
            log disable
            destination {
                address {{ str(vars.wireguard_router_ip) }}
            }
        }
        rule 520 {
            action accept
            description "Allow traffic to Wireguard clients"
            log disable
            destination {
                address {{ str(vars.wireguard_network) }}
            }
        }
        rule 600 {
            action accept
            description "Allow server HTTPS access to authorized VPN clients"
            log disable
            protocol tcp
            source {
                group {
                    network-group wireguard-serv-https
                }
            }
            destination {
                address  {{ secrets.kserv_static_dhcp["kserv"].ip }}
                port     443
            }
        }
        rule 610 {
            action accept
            description "Allow server ICMP to authorized VPN clients"
            log disable
            protocol icmp
            source {
                group {
                    network-group wireguard-serv-https
                }
            }
            destination {
                address  {{ secrets.kserv_static_dhcp["kserv"].ip }}
            }
        }
        rule 700 {
            action accept
            description "Allow full network access to authorized VPN clients"
            log disable
            source {
                group {
                    network-group wireguard-full-access
                }
            }
        }
    }
}
interfaces {
    ethernet eth0 {
        address {{ vars.router_ip_kserv_network_cidr }}
        address {{ vars.router_ip_kube_cluster_network_cidr }}
        address {{ vars.router_ip_kube_service_network_cidr }}
        duplex auto
        poe {
            output off
        }
        speed auto
    }
    ethernet eth1 {
        duplex auto
        poe {
            output off
        }
        speed auto
    }
    ethernet eth2 {
        duplex auto
        speed auto
    }
    ethernet eth3 {
        duplex auto
        poe {
            output off
        }
        speed auto
    }
    ethernet eth4 {
        address {{ vars.router_ip_modem_net_cidr }}
        description "CenturyLink Modem @ {{ secrets.hosts.modem.ip }}"
        duplex auto
        poe {
            output off
        }
        pppoe 0 {
            default-route auto
            description "CenturyLink Internet"
            mtu 1492
            name-server auto
            user-id {{ secrets.centurylink.pppoe_username }}
            password {{ secrets.centurylink.pppoe_password }}

            firewall {
                in {
                    name WAN_INBOUND
                }
            }
        }
        speed auto
    }
    ethernet eth5 {
        address {{ vars.router_ip_cidr }}
        description "EdgeSwitch 24"
        duplex auto
        speed auto
    }
    loopback lo {
    }
    wireguard wg0 {
        address {{ vars.wireguard_router_ip_cidr }}
        listen-port {{ vars.wireguard_listen_port }}
        route-allowed-ips true
        private-key {{ vars.wireguard_key_path }}
        mtu 1400

        firewall {
            in {
                name WIREGUARD_INBOUND
            }
        }

        {% for p in secrets.wireguard_peers %}
        peer {{ p.pubkey }} {
            allowed-ips {{ p.ip }}/32
        }
        {% endfor %}
    }
}
port-forward {
    auto-firewall disable
    hairpin-nat enable
    lan-interface eth5
    {% for i in secrets.port_forwards %}
    rule {{ loop.index }} {
        description "{{ i.description }}"
        forward-to {
            address {{ i.dest_ip }}
            port {{ i.dest_port }}
        }
        original-port {{ i.src_port }}
        protocol {{ i.protocol }}
    }
    {% endfor %}
    wan-interface {{ vars.wan_iface }}
}
protocols {
    static {
    }
}
service {
    dhcp-server {
        disabled false
        hostfile-update disable
        shared-network-name lan {
            authoritative enable
            subnet {{ vars.lan_network }} {
                default-router {{ vars.router_ip }}
                dns-server {{ secrets.hosts.miniserv.ip }}
                lease 86400
                start {{ vars.dhcp_start }} {
                    stop {{ vars.dhcp_end }}
                }
                {% for i in secrets.static_dhcp %}
                static-mapping {{ i.name }} {
                    ip-address   {{ i.ip }}
                    mac-address  {{ i.mac }}
                }
                {% endfor %}
            }
        }
        shared-network-name kserv {
            authoritative enable
            subnet {{ vars.kserv_network }} {
              default-router {{ vars.router_ip_kserv_network }}
              dns-server {{ vars.router_ip_kserv_network }}
              lease 86400
              {% for i in secrets.kserv_static_dhcp %}
              static-mapping {{ i.name }} {
                  ip-address   {{ i.ip }}
                  mac-address  {{ i.mac }}
              }
              {% endfor %}
            }
        }
        static-arp disable
        use-dnsmasq disable
    }
    dns {
        forwarding {
            cache-size 10000
            listen-on vtun0
            listen-on eth0
            listen-on eth5
            listen-on wg0
            {% for i in vars.upstream_dns %}
            name-server {{ i }}
            {% endfor %}
            {% for i in secrets.dns %}
            {% for d in i.dns %}
            options address=/{{ d }}/{{ i.ip }}
            {% endfor %}
            {% endfor %}
            {% for i in secrets.static_dhcp %}
            {% for d in i.dns %}
            options address=/{{ d }}/{{ i.ip }}
            {% endfor %}
            {% endfor %}
        }
    }
    nat {
        rule 1300 {
            description "Redirect outbound DNS to internal DNS server"
            inbound-interface eth5
            protocol tcp_udp
            source {
                address {{ vars.bad_citizens_subnet }}
            }
            inside-address {
                address {{ secrets.hosts.miniserv.ip }}
                port    53
            }
            destination {
                address !{{ secrets.hosts.miniserv.ip }}
                port    53
            }
            type destination
        }
        rule 7000 {
            description "NAT: LAN <-> Internet"
            outbound-interface {{ vars.wan_iface }}
            protocol all
            source {
                address {{ vars.lan_network }}
            }
            type masquerade
        }
        rule 7001 {
            description "NAT: kserv <-> Internet"
            outbound-interface {{ vars.wan_iface }}
            protocol all
            source {
                address {{ vars.kserv_network }}
            }
            type masquerade
        }
        rule 7002 {
            description "NAT: kube cluster <-> Internet"
            outbound-interface {{ vars.wan_iface }}
            protocol all
            source {
                address {{ vars.kube_cluster_network }}
            }
            type masquerade
        }
        rule 7003 {
            description "NAT: kube service <-> Internet"
            outbound-interface {{ vars.wan_iface }}
            protocol all
            source {
                address {{ vars.kube_service_network }}
            }
            type masquerade
        }
    }
    ssh {
        disable-password-authentication
        listen-address {{ vars.router_ip }}
        port 22
        protocol-version v2
    }
}
system {
    host-name router0
    login {
        user {{ secrets.admin.username }} {
            authentication {
                encrypted-password {{ secrets.admin.encrypted_password()  }}
                plaintext-password ""
                public-keys {{ secrets.admin.username }}@main {
                    type {{ secrets.admin.pubkey_type }}
                    key {{ secrets.admin.pubkey_key }}
                }
            }
            full-name "{{ secrets.admin.full_name }}"
            level admin
        }
    }
    name-server {{ vars.upstream_dns[0] }}
    ntp {
        server 0.ubnt.pool.ntp.org {
        }
        server 1.ubnt.pool.ntp.org {
        }
        server 2.ubnt.pool.ntp.org {
        }
        server 3.ubnt.pool.ntp.org {
        }
    }
    package {
        repository stretch {
            components "main contrib non-free"
            distribution stretch
            password ""
            url http://http.us.debian.org/debian
            username ""
        }
    }
    syslog {
        global {
            facility all {
                level notice
            }
            facility protocols {
                level debug
            }
        }
    }
    task-scheduler {
        task dyndns {
            executable {
                path /config/user-data/dyndns/dyndns.sh
            }
            interval 1m
        }
    }
    time-zone UTC
}


/* Warning: Do not remove the following line. */
/* === vyatta-config-version: "config-management@1:conntrack@1:cron@1:dhcp-relay@1:dhcp-server@4:firewall@5:ipsec@5:nat@3:qos@1:quagga@2:suspend@1:system@5:ubnt-l2tp@1:ubnt-pptp@1:ubnt-udapi-server@1:ubnt-unms@2:ubnt-util@1:vrrp@1:vyatta-netflow@1:webgui@1:webproxy@1:zone-policy@1" === */
/* Release version: v2.0.9-hotfix.4.5521907.220630.0658 */
