[Unit]
Description=Vaultwarden Backup Timer
After=network.target

[Timer]
# Syncthing backups run at approximately 2am. To avoid any
# surprises with Vaultwarden copying files into Syncthing
# data folders at backup time, we run the Vaultwarden backup
# earlier.
OnCalendar=23:00
AccuracySec=10m
Persistent=true
